# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = bashow0316
	email = bashow0316@gmail.com
[core]
	excludesfile = /Users/bashow/.gitignore_global
	autocrlf = input
[color]
    ui = auto
[alias]
    # git
    st = status
    b = branch
    cm = commit
    stt = status -uno
    difff = diff --name-diff
    diffs = diff --cached
    dp = diff --no-prefix
    dsp = diff --cached --no-prefix
    co = checkout    
    logg = log --graph --all --decorate
    logp = log --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset%C(black bold)%ar%Creset' --date=iso
    loggp = log --graph --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
    lg = log --graph --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
    cp = cherry-pick

    # git flow
    ffs = flow feature start
    sp = stash pop
    ss = stash save

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
